/* Global */
body,
.ui-widget,
.ui-widget input,
.ui-widget button,
.ui-widget select,
.ui-widget textarea {
    line-height: normal;
    font-family: '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}

input, select {
    vertical-align: baseline;
}

.hide {
    display: none!important;
}

.right {
    float: right;
    text-indent: 0;
}


/* Message */
#message {
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -555px;
    z-index: 99;
}

#error {
    margin: 5px 0;
    width: 1080px;
    padding: 10px 13px;
}

#error-hide-btn {
    float: right;
    width: 21px;
    height: 21px;
    background: none;
    border: none;
}


/* Body */
body {
    background: whitesmoke;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none;
}

/* Tab */
#tabs {
    margin: 10px auto;
    width: 1100px;
}


/* Program */
.menu-btn.ui-widget {
    padding: 4px 7px 4px 3px;
    font-size: 0.9em;
}

.menu-btn .ui-icon {
    margin-top: -.35em;
}

.menu-btn .ui-button-icon-space {
    display: none;
}

#proj-filter {
    width: 185px;
    float: right;
}

#proj-filter input {
    width: 160px;
    border: none;
}

#proj-list {
    margin-top: 5px;
    height: 200px;
    list-style-type: none;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    overflow-y: scroll;
    cursor: default;
}

#proj-list .ui-selectee {
    padding: 2px 10px;
    border: 1px solid transparent;
}

#proj-list .ui-selected, 
#proj-list .ui-selecting {
    border-color: #d3d3d3;
    background: #e6e6e6 url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x;
    color:#555
}

#option .row {
    margin-top: 10px;
    padding: .4em 1em;
    line-height: normal;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

#readme li {
    margin-bottom: 10px;
}

#changelog object {
    width: 100%;
    height: 300px;
    background: gainsboro;
}


/* Data */
#main-data .row {
    margin-bottom: 5px;
    line-height: 2.0;
}

#main-data .fill {
    width: 100%;
    overflow: hidden;
}

#main-data .fill > :first-child {
    float: left;
}

#main-data .fill > :last-child {
    display: block;
    padding: 0 15px 0 10px;
    overflow: hidden;
}

#main-data .fill > :last-child .text-box {
    width: 100%;
}


/* Sort List */
.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-row {
    margin: 0 0 5px 0;
    padding: 3px 5px 7px;
    height: 24px;
    border-radius: 4px;
}

.list-row > * {
    display: inline-block;
    margin-right: 20px;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-row > span {
    padding: 3px 0;
}

.list-row > input {
    font-size: large;
}

.list-row > .xs-col {
    width: 30px;
}

.list-row > .s-col {
    width: 90px;
}

.list-row > .m-col {
    width: 150px;
}

.list-row > .l-col {
    width: 240px;
}

.list-row > .xl-col {
    width: 380px;
}

.list-row .ui-button-text {
    padding: 0 5px;
    font-size: medium;
}

.list .list-row {
    cursor: move;
}

#data .list-del-btn {
    float: right;
    width: 28px;
    height: 28px;
    background: none;
    border: none;
}

#data .list-add-btn {
    margin-bottom: 5px;
    width: 100%;
    height: 36px;
    background: none;
    border-style: dashed;
}

#data .radio-set .ui-button {
    padding: 1px 3px;
}


/* Print */
.print {
    margin-bottom: 20px;
    border: 1px dotted #aaa;
    font-family: 'Times New Roman', '標楷體', 'DFKai-SB', sans-serif;
    font-size: 18pt;
    user-select: text;
}

.print .main-title {
    margin: 5px 0;
    text-align: center;
    font-weight: bold;
}

.print table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    table-layout : fixed;
    text-align: center;
}


/* Form */
#forms {
    padding: 80px 100px;
}

#forms .main-title {
    font-size: 22pt;
}

#forms .sub-title {
    margin: 15px 0;
}

#forms .combined {
    margin-top: -1px;
    page-break-inside: avoid;
}

#forms th,
#forms td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
}

#forms tr {
    height: 50px;
    line-height: 24px;
}

#forms tr.fold {
    background: black;
    height: 5px;
    font-size: 0;
}

#forms .fixed-col {
    width: 215px;
}

#forms .fixed-col-1 {
    width: 30px;
    padding: 10px;
}

#forms .fixed-col-2 {
    width: 164px;
}

#forms .crowd-col {
    font-size: 14pt;
}

#main-form .account-col {
    text-align: center
}

#memo-form .memo-col {
    padding: 10px 5px 10px 25px;
    text-align: left;
    text-indent: -0.75em;
    font-size: 16pt;
}

#main-form .form-box {
    width: 80%;
    text-align: center;
    font-family: 'Times New Roman', '標楷體', 'DFKai-SB', sans-serif;
    font-size: 18pt;
}

#memb-form img.cross {
    display: block;
    width: 100%;
    height: 47px;
}


/* Record */
#recos {
    padding: 80px 125px;
}

#recos .main-title {
    font-size: 22pt;
}

#recos .reco-item {
    margin: 15px 0 0 2em;
    text-align: justify;
    text-indent: -2em;
    font-size: 18.5pt;
}

#recos .reco-item:first {
    margin-top: 25px;
}

#recos .sub-item {
    display: block;
    margin: 5px 0 0 2em;
    text-indent: -2em;
}

#reco-sign-title {
    margin-top: 40px;
    text-align: center;
}

#reco-sign td {
    height: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: middle;
}


/* Widget */
.text-box {
    padding: 2px 3px;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #222;
}

.pure-box {
    background: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: none;
    border-right: none;
}

.pure-box:focus,
.pure-box:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid gray;
}

.dialog-box {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #222;
}

.single-box {
    height: 75px;
}

.multi-box {
    height: 275px;
}

.ui-dialog .ui-dialog-content {
    padding: 10px 10px 5px;
}

.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0;
    padding: 10px 10px 5px;
}

.ui-dialog .ui-dialog-buttonpane .ui-button-text-only {
    height: 30px;
    margin: 0 0 0 5px;
}

.ui-dialog .ui-dialog-buttonpane .ui-button-text-only .ui-button-text {
    padding: 0 10px;
}

.edit {
    cursor: url(images/edit.png),auto;
}

.foldable {
    cursor: row-resize;
}

.ui-visual-focus {
    box-shadow: none;
}

.ui-menu-item:hover div {
    border: 1px solid #999;
    background: #dadada url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
}

.ui-widget.ui-widget-content.ui-tabs-panel {
    border: none;
}


/* Chrome Fix */
*:focus {
    outline: none;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}